export POSTS_DIR="example/posts"
export OUTPUT_DIR="example/output"
export STATIC_DIR="example/static"
export SITE_URL="http://127.0.0.1:8000"
export SITE_DESCRIPTION="Enjoy Focus!"
export SITE_TITLE="Enjoy Focus!"