export POSTS_DIR="abcdlsj.github.io/posts"
export OUTPUT_DIR="abcdlsj.github.io/public"
export STATIC_DIR="abcdlsj.github.io/static"
export SITE_URL="https://abcdlsj.github.io"
export SITE_DESCRIPTION="Enjoy Focus!"
export SITE_TITLE="Enjoy Focus!"