/* Reset default browser styles */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li,
blockquote {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Helvetica Neue", Arial, sans-serif;
  margin: auto;
  padding: 20px;
  max-width: 800px;
  line-height: 1.6;
  display: flex;
  flex-direction: column;
  background-color: #f8fcf8;
}

a {
  color: #3273dc;
  font-weight: bold;
  text-decoration: none;
}

a:visited {
  font-weight: normal;
}

h1.blog-title {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;
}

.navbar {
  display: flex;
  justify-content: space-between;
}

.navbar ul {
  display: flex;
  list-style-type: none;
  padding: 0;
}

.navbar ul:not(:last-child) {
  margin-right: 20px;
}

.navbar li:not(:last-child) {
  margin-right: 10px;
}

.navbar ul li:last-child {
  margin-right: 0;
}

code {
  padding: 2px 5px;
  background-color: #e8e8e8;
}

pre code {
  display: block;
  padding: 20px;
  white-space: pre-wrap;
  background: #e8e8e8;
}

blockquote {
  border-left: 2px solid black;
  padding-left: 10px;
}

.tag-refer {
  color: #3273dc;
}

.post-content {
  font-size: 14px;
  margin-left: 20px;
  list-style: none;
}

.post-content li {
  margin-bottom: 5px;
}

.post-content a {
  text-decoration: none;
}

.post-content a:visited {
  color: #808080;
}

.post-content a:hover {
  text-decoration: underline;
}

.post-content ul {
  margin-left: 20px;
}

.post-content h1 {
  font-size: 16px;
}

blockquote {
  border-left: 2px solid black;
  padding-left: 10px;
}

.tag-refer {
  color: #3273dc;
}

.post-meta .post-date {
  font-size: 12px;
  background-color: #888;
  padding: 5px;
  color: #fff;
}

.post-tags .tag {
  display: inline-block;
  padding: 5px 10px;
  background-color: #333;
  color: #fff;
  text-decoration: none;
  margin-right: 5px;
}

.container {
  position: relative;
  min-height: calc(95vh - 2.5rem);
}

hr.divider {
  border-top: 1px solid #888;
  margin: 20px 0;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  height: 2.5rem;
}
