body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li,
blockquote {
  margin: 0;
  padding: 0;
}
:root {
  --light-border-color: #91969a;
  --code-color: #d64b4b;
  --href-color: #0eac8f;
  --dark-ref-color: #186782;
  --font-color: #000;
  --light-dark-font-color: #565656;
}
body {
  display: flex;
  flex-direction: column;
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  line-height: 1.6;
  margin: auto;
  max-width: 55%;
  padding: 10px;
  font-size: 14px;
}
.container {
  min-height: calc(95vh - 2.5rem);
  position: relative;
}
a {
  color: var(--font-color);
  text-decoration: none;
}
a:visited {
  color: var(--font-color);
  text-decoration: underline;
}
a:hover {
  color: var(--font-color);
  text-decoration: underline;
}
blockquote {
  padding: 0.5rem 0.75rem 0.25rem 0.75rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  border: 1px solid var(--light-border-color);
  border-left-width: 0.5rem;
  border-radius: 0.25rem;
  background-color: #f2f3f5;
}
code {
  color: var(--code-color);
  font-size: 0.85em;
}
pre code {
  background: #f2f3f5;
  display: block;
  padding: 20px;
  white-space: pre-wrap;
  color: #000;
}
.navbar {
  display: flex;
  color: var(--font-color);
  justify-content: space-between;
  font-size: 1.1em;
  font-weight: 900;
}
.navbar a {
  text-decoration: none;
}
.navbar ul {
  display: flex;
  list-style-type: none;
  padding: 0;
}
.navbar ul:not(:last-child) {
  margin-right: 60px;
}
.navbar li:not(:last-child) {
  margin-right: 10px;
}
.navbar ul li:last-child {
  margin-right: 0;
}
.post-toc {
  list-style: none;
  font-size: 1em;
}
.post-toc ul {
  margin: 0;
  padding: 0;
  margin-left: 30px;
}
.post-toc li {
  margin-bottom: 0px; /* 调整间距 */
}
.post-toc a {
  text-decoration: none;
}
.post-toc a:visited {
  text-decoration: none;
}
.post-toc a:hover {
  text-decoration: underline;
}
.post-content {
  list-style: none;
}
.post-content ul {
  margin-left: 25px;
}
.post-content li {
  margin-bottom: 5px;
}
.post-content a {
  color: var(--href-color);
  text-decoration: underline;
}
.post-content a:visited {
  color: var(--href-color);
  text-decoration: underline;
}

.post-content a:hover {
  text-decoration: underline;
}

.post-content table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 5px;
  margin-bottom: 10px;
}

.post-content th,
td {
  border: 1px solid black;
  padding: 5px;
  text-align: center;
}

.post-content th {
  background-color: #f2f2f2;
}

.post-meta .post-date {
  color: black;
  font-size: 0.8em;
}
.post-tags .tag {
  color: var(--dark-ref-color);
  font-size: 0.85em;
  text-decoration: none;
  margin-right: 10px;
  margin-top: 0px;
  margin-bottom: 0px;
}
.blog-title {
  font-size: 2em;
  font-weight: 500;
}
.tag-title {
  font-size: 2em;
  font-weight: 500;
}
.post-single-title {
  font-size: 2em;
  font-weight: 500;
}
.post-tag-index-title {
  font-size: 1.5em;
  font-weight: 400;
}
.post-index-title {
  font-size: 1.5em;
  font-weight: 500;
}
.wip-headline {
  color: var(--light-dark-font-color);
  font-size: 1.10em;
  font-weight: 900;
}
.wip-post-title a {
  color: var(--light-dark-font-color);
  font-size: 0.9em;
}
hr {
  background-color: var(--light-border-color);
  opacity: 1;
}
/* .footer {
  bottom: 0;
  height: 4rem;
  text-align: center;
  width: 100%;
} */

.footer {
  position: absolute;
  left: 0;
  width: 100%;
  text-align: center;
  padding: 10px 0;
}

.divider {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  margin-left: 0;
  width: 100%;
  border: 1px solid var(#b7b4b4);
  border-left-width: 0.5rem;
  border-radius: 0.1rem;
  background-color: #f2f3f5;
}

.divider-short {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  width: 5%;
  margin-left: 0;
  border: 1px solid var(#b7b4b4);
  /* border-left-width: 0.5rem; */
  border-radius: 0.25rem;
  background-color: #f2f3f5;
}

.sidebar {
  position: fixed;
  top: 15%;
  left: 5%;
  width: 20%;
  height: 100%;
  overflow-y: auto;
}

/* CSS for the hero image */
.hero-image {
  width: 100%;
  height: 50vh; /* Adjust the height as needed */
  background-image: url("/static/hero.png"); /* Update the path to your image */
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

img {
  max-width: 100%; /* 图片的最大宽度为其容器的100% */
  height: auto; /* 让浏览器自动计算图片的高度，以保持图片比例 */
}