body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li,
blockquote {
  margin: 0;
  padding: 0;
}
:root {
  --light-border-color: #91969a;
  --href-color: #015bbb;
  --dark-ref-color: #186782;
  --font-color: #000;
  --light-dark-font-color: #565656;

  --nav-font: "Roboto", "Helvetica Neue", "Arial", sans-serif;
  --serif-font: "Charter", "Avro", "Noto Serif", "Georgia", serif;
  --content-font: "Helvetica Neue", "Arial", sans-serif;
}
body {
  display: flex;
  flex-direction: column;
  font-family: var(--content-font);
  line-height: 1.6;
  margin: auto;
  max-width: 50%;
  padding: 20px;
}
.container {
  min-height: calc(95vh - 2.5rem);
  position: relative;
}
a {
  color: var(--font-color);
  text-decoration: none;
}
a:visited {
  color: var(--font-color);
  text-decoration: none;
}
a:hover {
  color: var(--font-color);
  text-decoration: underline;
}
blockquote {
  padding: 0.5rem 0.75rem 0.25rem 0.75rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  border: 0.5px solid var(--light-border-color);
  border-left-width: 0.5rem;
  border-radius: 0.25rem;
  background-color: #f2f3f5;
}
code {
  font-size: 0.95em;
  padding: 0.2rem 0.25rem;
  border-radius: 4px;
  background-color: #ecedef;
}
pre code {
  background: #f2f3f5;
  display: block;
  padding: 20px;
  white-space: pre-wrap;
  color: #000;
}
.navbar {
  font-family: var(--nav-font);
  display: flex;
  color: var(--font-color);
  justify-content: space-between;
  font-size: 1.1em;
  font-weight: 500;
}
.navbar a {
  text-decoration: none;
}
.navbar ul {
  display: flex;
  list-style-type: none;
  padding: 0;
}
.navbar ul:not(:last-child) {
  margin-right: 60px;
}
.navbar li:not(:last-child) {
  margin-right: 10px;
}
.navbar ul li:last-child {
  margin-right: 0;
}
.post-toc {
  list-style: none;
  font-size: 1em;
}
.post-toc ul {
  margin: 0;
  padding: 0;
  margin-left: 30px;
}
.post-toc li {
  margin-bottom: 0px;
}
.post-toc a {
  text-decoration: none;
}
.post-toc a:visited {
  text-decoration: none;
}
.post-toc a:hover {
  text-decoration: underline;
}
.post-content {
  list-style: none;
}

.post-content h1,
.post-content h2,
.post-content h3,
.post-content h4,
.post-content h5,
.post-content h6 {
  margin-top: 0.5em;
  margin-bottom: 0.3em;
}

.post-content p {
  margin-bottom: 0.5em;
}
.post-content ul {
  margin-left: 25px;
  margin-bottom: 1.2em;
}
.post-content li {
  margin-bottom: 0.8em;
}
.post-content a {
  color: var(--href-color);
  text-decoration: none;
}
.post-content a:visited {
  color: var(--href-color);
  text-decoration: none;
}

.post-content a:hover {
  text-decoration: underline;
}

.post-content table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 5px;
  margin-bottom: 10px;
}

.post-content th,
td {
  border: 1px solid black;
  padding: 5px;
  text-align: center;
}
.post-content th {
  background-color: #f2f2f2;
}
.blog-title {
  font-size: 2em;
  font-weight: 500;
}
.tag-title {
  font-size: 1.25em;
  font-weight: 300;
}
.posts-title {
  font-size: 1.25em;
  font-weight: 300;
}
.post-single-title {
  font-size: 2em;
  font-weight: 500;
  font-family: var(--serif-font);
}
.post-tag-index-title {
  font-size: 1.5em;
  font-weight: 400;
  font-family: var(--serif-font);
}
.post-index-title {
  font-size: 1.5em;
  font-weight: 500;
  font-family: var(--serif-font);
}
.wip-headline {
  color: var(--light-dark-font-color);
  font-size: 1.05em;
  font-weight: 500;
}
.wip-post-title a {
  color: var(--light-dark-font-color);
  font-size: 0.9em;
}
hr {
  background-color: var(--light-border-color);
  opacity: 1;
}

.footer {
  position: absolute;
  left: 0;
  width: 100%;
  text-align: center;
  padding: 10px 0;
}

.divider {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  margin-left: 0;
  width: 100%;
  border: 1px solid #f0f0f0;
  border-left-width: 0.5rem;
  border-radius: 0.1rem;
  background-color: #f2f3f5;
}

.divider-short {
  margin: 1rem 0;
  border: none;
  border-top: 1px solid #f0f0f0;
}

.sidebar {
  position: fixed;
  top: 10%;
  left: 8%;
  width: 20%;
  height: 100%;
  overflow-y: auto;
}

.hero-container {
  margin-bottom: 20px;
}

.hero-container .hero-image {
  width: 100%;
  height: 400px;
  background-size: cover;
  background-position: center;
}

.hero-container .hero-single-title {
  font-size: 2em;
  margin-bottom: 10px;
  font-weight: 500;
  font-family: var(--serif-font);
}

img {
  max-width: 100%;
  height: auto;
}

.post-list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.post {
  display: flex;
  align-items: flex-start;
  gap: 1rem;
}

.post .post-date {
  min-width: 100px;
  font-size: 1.2rem;
  font-family: var(--serif-font);
  color: #666;
}

.post-index {
  flex-grow: 1;
}

.post-index-title {
  font-size: 1.7rem;
  margin-top: 0;
  margin-bottom: 0.5rem;
  color: var(--font-color);
  line-height: 1.3;
}

.post-index-title a {
  color: var(--font-color);
  text-decoration: none;
  transition: color 0.3s ease;
}

.post-index-title a:hover {
  color: var(--font-color);
}

.post-meta {
  display: flex;
  gap: 0.5rem;
}

.post-tags .tag {
  font-size: 0.85em;
  color: var(--dark-ref-color);
  background-color: #f0f0f0;
  padding: 0.2rem 0.5rem;
  border-radius: 4px;
  transition: background-color 0.3s ease;
  text-decoration: none;
  margin-right: 10px;
}

.tag a {
  color: var(--dark-ref-color);
  text-decoration: none;
  transition: color 0.3s ease;
}

.tag:hover {
  background-color: #e0e0e0;
}

.go-to-top {
  position: fixed;
  right: 15%;
  bottom: 20px;
  z-index: 1000;
}

.btn-goto-top {
  background-color: var(--dark-ref-color);
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.btn-goto-top:hover {
  background-color: #0056b3;
}

.hompage-content {
  font-family: var(--serif-font);
}

.search-container {
  position: fixed;
  top: 10%;
  left: 8%;
  width: 15%;
}

#search-input {
  width: 70%;
  padding: 8px;
  border: 1px solid var(--light-border-color);
  border-radius: 4px;
  font-size: 14px;
}

#search-results {
  padding: 0;
  margin-top: 10px;
  max-height: 300px;
  overflow-y: auto;
  font-family: var(--serif-font);
}

#search-results li {
  list-style: square inside;
  padding: 5px 0;
}

#search-results a {
  color: var(--font-color);
  text-decoration: none;
}

#search-results a:hover {
  text-decoration: underline;
}

