{{define "head"}}
<meta charset="UTF-8" />
<title>{{.Site.Title}}</title>
<meta name="description" content="{{.Site.Description}}" />
{{if .IsPost}}
<meta name="keywords" content="{{range .Meta.Tags}}{{.}},{{end}}">
<meta name="author" content="{{.Site.Author}}">
<meta property="og:title" content="{{.Meta.Title}}">
<meta property="og:description" content="{{truncate .Meta.Description 500}}">
<meta property="og:url" content="{{.Site.URL}}/posts/{{.Uname}}.html">
<meta property="og:type" content="article">
{{else}}
<meta name="keywords" content="{{range .Site.Keywords}}{{.}},{{end}}">
<meta name="author" content="{{.Site.Author}}">
<meta property="og:title" content="{{.Site.Title}}">
<meta property="og:description" content="{{.Site.Description}}">
<meta property="og:url" content="{{.Site.URL}}">
<meta property="og:type" content="article">
{{end}}
<meta
  name="viewport"
  content="width=device-width, initial-scale=1.0, maximum-scale=1.0"
/>
<link rel="shortcut icon" href="/static/favicon.ico" />
<link rel="stylesheet" href="/static/style.css" />
<script
  defer
  src="https://us.umami.is/script.js"
  data-website-id="5af61252-79b1-48a0-a452-fdeefbf6a3ee"
></script>
{{end}}