{{define "hosts"}}
<!DOCTYPE html>
<html lang="en">
<head>
  {{template "head" dict "Site" .Site "IsPost" false}}
</head>
<body>
  <div class="content-wrapper">
    <div class="navbar">{{template "navbar" .}}</div>
    <hr class="divider" />
    <h1 class="posts-title">Hosted Sites</h1>
    <hr class="divider-short" />
    <div class="hosts-list">
      {{range $i, $host := .Site.Hosts}}
      <div class="host-item">
        <div class="host-name">{{.Name}}</div>
        <div class="host-meta">
          <span class="host-type">{{.Type}}</span>
          <a href="/{{.Output}}" class="host-link">{{.Output}}</a>
        </div>
      </div>
      {{if ne (add $i 1) (len $.Site.Hosts)}}
      <hr class="divider-short">
      {{end}}
      {{end}}
    </div>
  </div>
</body>
</html>
{{end}}