{{define "index"}}
<!DOCTYPE html>
<html lang="en">
  <head>
    {{template "head" dict "Site" .Site "IsPost" false}}
  </head>
  <body class="container">
    <div class="search-container">
      <div>Search posts content</div>
      <input type="text" id="search-input" placeholder="search...">
      <ul id="search-results"></ul>
    </div>
    <main>
      <div class="navbar">{{template "navbar" .}}</div>
      <hr class="divider" />
      <div class="hompage-content">
        {{.Site.Homepage}}
      </div>
      <hr class="divider" />
      <h1 class="posts-title">RECENT POSTS</h1>
      <div class="post-list">
        <!-- only show 4 posts -->
        {{range $i, $post := .Posts}}
          {{if lt $i 5}}
            <article class="post">
              <div class="post-date">{{.Meta.Date | day}}</div>
              <div class="post-index">
                <div class="post-index-title">
                  <a href="/posts/{{.Uname | urlize}}.html">{{.Meta.Title}}</a>
                </div>
                <div class="post-meta">
                  <nav class="post-tags">
                    {{range $tag := .Meta.Tags}}
                    <a href="/tags/{{$tag | urlize}}.html" class="tag">#{{$tag}}</a>
                    {{end}}
                  </nav>
                </div>
              </div>
            </article>
            {{if lt $i 4}}
              <hr class="divider-short">
            {{end}}
          {{end}}
        {{end}}
      </div>
      <hr class="divider" />
      <div class="wip-post">
        <div class="wip-headline">DRAFT</div>
        {{range .WipPosts}}
        <div class="wip-post-title">
          <a href="/posts/{{.Uname | urlize}}.html">- {{.Meta.Title}}</a>
        </div>
        {{end}}
      </div>
    </main>
  </body>
</html>
{{end}}