body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li,
blockquote {
  margin: 0;
  padding: 0;
}
:root {
  --light-border-color: #dee2e6;
  --code-color: #007da6;
  --href-color: #006e93;
  --dark-ref-color: #008cba;
}
body {
  display: flex;
  flex-direction: column;
  font-family: system-ui;
  line-height: 2;
  margin: auto;
  max-width: 60%;
  font-size: 16px;
  padding: 20px;
}
.container {
  min-height: calc(95vh - 2.5rem);
  position: relative;
}
a {
  color: var(--href-color);
  text-decoration: none;
}
a:visited {
  color: var(--href-color);
  text-decoration: underline;
}
a:hover {
  color: var(--href-color);
  text-decoration: underline;
}
blockquote {
  padding: 0.75rem 1rem 0.25rem 1rem;
  margin-top: 1.25rem;
  margin-bottom: 1.15rem;
  border: 1px solid var(--light-border-color);
  border-left-width: 0.5rem;
  border-radius: 0.25rem;
  background-color: #f2f3f5;
}
h1.blog-title {
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 20px;
}
code {
  color: var(--code-color);
  font-size: 15px;
}
pre code {
  background: #F2F3F5;
  display: block;
  padding: 20px;
  font-size: 14px;
  white-space: pre-wrap;
  color: #000;
}
.navbar {
  display: flex;
  justify-content: space-between;
}
.navbar a {
  color: var(--dark-ref-color);
  text-decoration: none;
}
.navbar ul {
  display: flex;
  list-style-type: none;
  padding: 0;
}
.navbar ul:not(:last-child) {
  margin-right: 20px;
}
.navbar li:not(:last-child) {
  margin-right: 10px;
}
.navbar ul li:last-child {
  margin-right: 0;
}
.post-content {
  list-style: none;
}
.post-content ul {
  margin-left: 25px;
}
.post-content li {
  margin-bottom: 5px;
}
.post-content a {
  color: var(--href-color);
  text-decoration: none;
}
.post-content a:visited {
  color: var(--href-color);
}
.post-content li a {
  font-weight: 500;
  color: var(--dark-ref-color);
}
.post-content li a:visited {
  font-weight: 500;
  color: var(--dark-ref-color);
}
.post-content a:hover {
  text-decoration: underline;
}
.post-meta .post-date {
  color: black;
  font-size: 14px;
  padding: 5px;
}
.post-tags .tag {
  color: var(--dark-ref-color);
  margin-right: 5px;
  font-size: 14px;
  font-weight: 600;
  padding: 5px 10px;
  text-decoration: none;
}
hr {
  background-color: var(--light-border-color);
  opacity: 1;
}
.footer {
  bottom: 0;
  height: 2.5rem;
  position: absolute;
  text-align: center;
  width: 100%;
}
